* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFE3E3;
}

.main {
    width: 560px;
    height: 450px;
    background-color: #FFA0A0;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 30px;
    box-sizing: border-box;
}
.main h1{
    text-align: center;
    color: #ffffff;
    font-size: 38px;
}
.main form input {
    text-align: center;
    width: 220px;
    padding: 20px 0px;
    margin: 40px 12px;
    border-radius: 50px;
    outline: none;
    border: 1px solid beige;
    background: transparent;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #000000;
    font-size: 18px;
    position: relative;
}

.main form input::placeholder {
    color: #000000;
    font-size: 18px;
    text-align: center;
}




.main .heart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 100px;
    height: 100px;
    background-color: #EC4646;
    position: relative;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    animation: heart 2s linear 1s infinite;
    -webkit-animation: heart 2s linear 1s infinite forwards;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    animation: heart 2s linear 1s infinite;
}



.main .heart::before {
    z-index: -1;
    width: 100px;
    height: 100px;
    content: "";
    position: absolute;
    background-color: #EC4646;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main .heart::after {
    z-index: -1;
    width: 100px;
    height: 100px;
    content: "";
    position: absolute;
    background-color: #EC4646;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 0px;
    left: 0px;
}
.main .heart span{
    top: 25px;
    left: 0;
    position: absolute;
    color: oldlace;
    font-size: 20px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
}
@keyframes heart {
    0% {
        transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -o-transform: rotate(45deg) scale(1);
    }
    25% {
        transform: rotate(45deg) scale(1.2);
        -webkit-transform: rotate(45deg) scale(1.2);
        -moz-transform: rotate(45deg) scale(1.2);
        -ms-transform: rotate(45deg) scale(1.2);
        -o-transform: rotate(45deg) scale(1.2);
}
    50% {
        transform: rotate(45deg) scale(1.1);
        -webkit-transform: rotate(45deg) scale(1.1);
        -moz-transform: rotate(45deg) scale(1.1);
        -ms-transform: rotate(45deg) scale(1.1);
        -o-transform: rotate(45deg) scale(1.1);
}
    75% {
        transform: rotate(45deg) scale(1.2);
        -webkit-transform: rotate(45deg) scale(1.2);
        -moz-transform: rotate(45deg) scale(1.2);
        -ms-transform: rotate(45deg) scale(1.2);
        -o-transform: rotate(45deg) scale(1.2);
}
    100% {
        transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -o-transform: rotate(45deg) scale(1);
    }
}

.main .reset{
    padding: 10px 20px;
    background-color: orangered;
    font-size: 18px;
    color: peachpuff;
    text-transform: uppercase;
    border: 1px solid peachpuff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}